
! ------------------------------------------------------------------------------
! URxvt Color theme
! ------------------------------------------------------------------------------

URxvt*font:MesloLGS NF:pixelsize=19:antialiasing=true:
URxvt*letterspace: 0
URxvt*scrollBar: false
URxvt.intensityStyles: false
URxvt.transparent:   true
!URxvt.depth: 4
URxvt*scrollWithBuffer: false
URxvt*skipScroll: true
URxvt.shading: 23 
!urxvt*blurRadius: 4
!URxvt*background-expr: 'rootalign keep { blur 10, root }'

!Xft.dpi: 46
!Xft.antialias: false
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!URxvt*borderColor: #2b2b2b

! special
URxvt.background: #000000
!URxvt.foreground: #D3D3D3
!URxvt*cursorColor: #ffff00
URxvt*colorUL: #ffa500
URxvt*borderColor: #2b2b2b
! special
*.foreground:   #cccccc
!*.background:   #111111
*.cursorColor:  #cccccc

! black
*.color0:       #000000
*.color8:       #666666

! red
*.color1:       #e84f4f
*.color9:       #d23d3d

! green
*.color2:       #b7ce42
*.color10:      #bde077

! yellow
*.color3:       #fea63c
*.color11:      #ffe863

! blue
*.color4:       #66a9b9
*.color12:      #aaccbb

! magenta
*.color5:       #b7416e
*.color13:      #e16a98

! cyan
*.color6:       #6d878d
*.color14:      #42717b

! white
*.color7:       #cccccc
*.color15:      #ffffff

!! black
!*color0: #000000
!*color8: #2b2b2b
!
!! red
!*color1:  #8b0000
!*color9:  #8c5353
!!
!! green
!*color2:  #00ff00
!*color10: #61CE3C
!!
!! yellow
!*color3:  #ffa500
!*color11: #ffff00
!!
!! blue
!*color4:  #4c83ff
!*color12: #b2dfee
!
!! magenta
!*color5:  #dc8cc3
!*color13: #ff0000
!
!! cyan
!*color6:  #93e0e3
!*color14: #0000ff
!
!! white
!*color7:  #dcdccc
!*color15: #2b2b2b
!

URxvt.perl-ext-common: default,matcher,fullscreen,clipboard,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.secondaryWheel: 1
URxvt.internalBorder:  15
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

! macros for clipboard and selection
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.m-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt.geometry:         90x30

! tabbed
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg:    15
URxvt.tabbed.tab-bg:    4
URxvt*buffered:         false

! Color settings for gruvbox(Theme or VIM)

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1
